<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionStringDefault" value="ConString"/>
  </appSettings>
  <connectionStrings>
    <add name="ConString"
             connectionString="Data Source=INFINITYSOL\SQLEXPRESS;Initial Catalog=RoyalGrillDB;Persist Security Info=True;User ID=sa;Password=kerdhin"
             providerName="System.Data.SqlClient" />
    <!--<add name="ConString"
         connectionString="Data Source=INFINITYSOL\SQLEXPRESS;Initial Catalog=RoyalGrillDB;Persist Security Info=True;User ID=sa;Password=kerdhin"
         providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="ContentManagement.asmx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>